body{
    height: 100vh;
    position: relative;
    margin:0;
    background-color: black;
}
h1{
    position: absolute;
    color: aliceblue;
    top: 45%;
    left: 42%;
    font-size: 60px;
}
h2{
    position : absolute;
    color: aliceblue;
    top: 45%;
    left: 42%;
}

video{
    height: 100vh;
}